<div id="checkContent" class="content-section" style="display: none;">
    <div class="text-input-section">
        <div class="container">
            <div class="form-group">
                <select class="form-control" id="selectOption">
                    <option value="">チェックする媒体を選択してください</option>
                    <option value="GSearch">G検索</option>
                    <option value="GDN">GDN</option>
                    <option value="YSA">YSA</option>
                    <option value="YDN">YDN</option>
                </select>
            </div>
        
            <div class="form-group" id="textGSearch" style="display: none;">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadTitle" placeholder="広告見出しを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>広告見出し文字数: <span id="gsaadTitleCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadDescription" placeholder="説明文を入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>説明文文字数: <span id="gsaadDescriptionCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadPath" placeholder="パスを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>パス文字数: <span id="gsaadPathCount">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="textGDN" style="display: none;">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadTitle" placeholder="広告見出しを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>広告見出し文字数: <span id="gsaadTitleCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadDescription" placeholder="説明文を入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>説明文文字数: <span id="gsaadDescriptionCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadPath" placeholder="パスを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>パス文字数: <span id="gsaadPathCount">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="textYSA" style="display: none;">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadTitle" placeholder="広告見出しを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>広告見出し文字数: <span id="gsaadTitleCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadDescription" placeholder="説明文を入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>説明文文字数: <span id="gsaadDescriptionCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadPath" placeholder="パスを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>パス文字数: <span id="gsaadPathCount">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="textYDN" style="display: none;">
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadTitle" placeholder="広告見出しを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>広告見出し文字数: <span id="gsaadTitleCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadDescription" placeholder="説明文を入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>説明文文字数: <span id="gsaadDescriptionCount">0</span></p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <input type="text" class="form-control mb-3" id="gsaadPath" placeholder="パスを入力">
                    </div>
                    <div class="col-md-4">
                        <div class="character-counts">
                            <p>パス文字数: <span id="gsaadPathCount">0</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="character-counts d-flex justify-content-around">
            <p>半角: <span id="halfWidthCount">0</span></p>
            <p>全角: <span id="fullWidthCount">0</span></p>
            <p>合計: <span id="textCharCount">0</span></p>
        </div>
        <p id="textAlert" style="color: red; display: none;">文字数オーバー</p>
    </div>
    <div class="form-group" id="kitei">
        <h3 class="text-center mb-4">入稿規定</h3>
        <div class="button-group" style="display: flex; justify-content: space-around;">
            <button type="button" class="btn btn-primary toggle-btn" data-target="infoGSearch" id="gsabutton">G検索</button>
            <button type="button" class="btn btn-primary toggle-btn" data-target="infoGDN" id="gdnbutton">GDN</button>
            <button type="button" class="btn btn-primary toggle-btn" data-target="infoYSA" id="ysabutton">YSA</button>
            <button type="button" class="btn btn-primary toggle-btn" data-target="infoYDA" id="ydnbutton">YDA</button>
        </div>
    </div>

    <!-- トグルセクション -->
    <div id="infoGSearch" class="toggle-content">
        G検索に関する情報をここに表示します。
    </div>
    <div id="infoGDN" class="toggle-content">
        GDNに関する情報をここに表示します。
    </div>
    <div id="infoYSA" class="toggle-content">
        YSAに関する情報をここに表示します。
    </div>
    <div id="infoYDA" class="toggle-content">
        YDAに関する情報をここに表示します。
    </div>
</div>