html {
    overflow-x: hidden;
    height: 100%;
}
header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 1030;

}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;
    background-color: #040011;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #e2e2e9;
    overflow-x: hidden;
    height: 100%;
    color: #221616;
}

main {
    margin-top: 80px;
    margin-bottom: 60px;
    overflow: auto;
}

.sidebar {
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    z-index: 1030;
}

.code-block {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
}

.nav-link.active {
    background-color: #293e4f;
    color: white;
    border-radius: 5px;
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.nav-link .material-icons {
    margin-right: 8px;
    color: #ffffff
}

#sidebar.closed .nav-link {
    background-color: transparent;
    color: inherit;
    border-radius: 0;
    padding-left: 10px;
}

#sidebar.closed .nav-link.active {
    background-color: transparent;
    color: #007bff;
    border-radius: 0;
}

#menu-icon {
    color: #01152b;
    font-size: 30px;
    cursor: pointer;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container iframe {
    width: 80%;
    height: 80vh;
    border: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.button-group button {
    flex-basis: 48%;
}

.main-container {
    display: flex;
}

#keywordGeneratorContent {
    width: 100%;
    max-width: 1200px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 70vh;
    overflow: auto;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.embedded-site-title {
    cursor: pointer;
}

#sidebar {
    width: 220px;
    transition: width 0.3s;
}

#sidebar.closed {
    width: 70px;
}


#sidebar.closed #text-home,
#sidebar.closed #text-keyword,
#sidebar.closed #text-analysis,
#sidebar.closed #text-faq,
#sidebar.closed #text-feedback {
    display: none;
}

#sidebar.closed .material-icons {
    display: block;
    cursor: pointer;
}

.sidebar-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

#main_content {
    width: calc(100% - 250px);
    margin-left: 250px;
    transition: width 0.5s, margin-left 0.5s;
}

.container-fluid > .row {
    display: flex;
    flex-wrap: nowrap;
}
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: #384A5A;
    position: fixed;
    height: 70px!important;
    overflow: hidden;
    z-index: 10;
}
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 70px;
    transform: translateX(-250px);
    transition: transform 250ms ease-in-out;
    background: linear-gradient(180deg, #394c5c 0%, #040011 100%);;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: #ffffff;
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 40px;
    left: 15px;
    height: 22px;
    width: 22px;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
#generateButton {
    background-color: #1f4b7a;
    border-color: #1f4b7a 
}
#loadingButton {
    background-color: #1f4b7a;
    border-color: #1f4b7a 
}
/* ニュースセクションの全体スタイル */
.news {
    padding: 50px 0;
    background: #FFF7EA;
}

/* インナー要素（コンテンツを中央に配置） */
.inner {
    width: 80%;
    background-color: #fff;
    margin: 0 auto;
    padding: 65px 0 100px;
}

/* サブタイトル */
.sub_ttl {
    font-size: 30px;
    text-align: center;
    padding: 45px;
    background: url(h1_news.png) center bottom no-repeat;
}

/* ニュースリストのスタイル */
.news_list {
    margin: 0 5%;
}

/* 各ニュース項目のスタイル */
.news_list_item {
    padding: 25px 0;
    border-bottom: 1px solid #E6E6E6;
}

.news_list_item:first-child {
    border-top: 1px solid #E6E6E6;
}

/* ニュースリンクのスタイル */
.news_list_item a {
    position: relative;
    display: flex;
    padding-right: 30px;
}

/* 日付とカテゴリのスタイル */
.news_list_date {
    font-size: 15px;
    display: flex;
    margin-right: 15px;
    align-items: center;
}

.news_item {
    background: #F6C6A2;
    border-radius: 14px;
    width: 6em;
    text-align: center;
    margin-left: 20px;
}

/* 矢印アイコンのスタイル */
.arrow {
    width: 25px;
    height: 1px;
    background: #707070;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
