header {
    position: fixed;
    top: 0;
    height: 70px;
    width: 100%;
    z-index: 1030;

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1030;

}

body {
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    margin-top: 80px;
    margin-left: 200px;
    margin-bottom: 60px;
    overflow: auto;
}


.sidebar {
    background-color: #f7f7f7;
    border-right: 1px solid #ddd;
    position: fixed;
    top: 70px;
    left: 0;
    height: 100%;
    z-index: 1030;
}

.code-block {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    padding: 10px;
    overflow-x: auto;
}

.nav-link.active {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
}

.nav-link {
    display: flex;
    align-items: center;
    /* アイテムを縦方向に中央揃え */
    justify-content: flex-start;
    /* アイテムを横方向に始端揃え */
}

.nav-link .material-icons {
    margin-right: 8px;
}

#sidebar.closed .nav-link {
    background-color: transparent;
    /* 背景色を透明にする */
    color: inherit;
    /* 色を継承する */
    border-radius: 0;
    /* 角丸を無くす */
    padding-left: 10px;
    /* 左パディングを調整 */
}

#sidebar.closed .nav-link.active {
    background-color: transparent;
    /* アクティブなリンクの背景色を透明に */
    color: #007bff;
    /* アクティブなリンクの色を調整 */
    border-radius: 0;
    /* 角丸を無くす */
}

#menu-icon {
    color: #01152b;
    font-size: 30px;
    cursor: pointer;
}


.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container iframe {
    width: 80%;
    height: 80vh;
    border: none;
}

.button-group {
    display: flex;
    justify-content: space-between;
    /* ボタンを均等に配置 */
    margin-top: 10px;
    /* 上部の要素との間隔 */
}

.button-group button {
    flex-basis: 48%;
    /* ボタンの幅を設定 */
}

.main-container {
    display: flex;
    justify-content: center;
    /* 横方向の中央揃え */
}

/* キーワードジェネレータコンテンツに対するスタイル */
#keywordGeneratorContent {
    width: 100%;
    /* 幅をビューポートの50%に設定 */
    max-width: 1200px;
    /* 最大幅を設定 */
    /* その他のスタイリング */
}

/* モーダルの基本スタイル */
.modal {
    display: none;
    /* 最初は非表示 */
    position: fixed;
    /* 画面に固定 */
    z-index: 1;
    /* コンテンツの上に表示 */
    left: 0;
    top: 0;
    width: 100%;
    /* 全幅 */
    height: 100%;
    /* 全高 */
    overflow: auto;
    /* スクロール可能に */
    background-color: rgb(0, 0, 0);
    /* 背景色 */
    background-color: rgba(0, 0, 0, 0.4);
    /* 背景色（透明度付き） */
}

/* モーダルコンテンツ */
.modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    /* 幅 */
    height: 70vh;
    /* 縦の幅をビューポートの70%に */
    overflow: auto;
    /* 内容がはみ出た場合にスクロールバーを表示 */
}

/* クローズボタン */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.embedded-site-title {
    cursor: pointer;
}

#sidebar {
    width: 200px;
    /* 開いた状態の幅 */
    transition: width 0.3s;
    /* スムーズな幅の変更 */
}

#sidebar.closed {
    width: 50px;
    /* 閉じた状態の幅 */
}


#sidebar.closed #text-home,
#sidebar.closed #text-keyword,
#sidebar.closed #text-analysis,
#sidebar.closed #text-faq,
#sidebar.closed #text-feedback {
    display: none;
}

#sidebar.closed .material-icons {
    display: block;
    cursor: pointer;
}

.sidebar-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}
/* 初期スタイル */
#main_content {
    width: calc(100% - 250px); /* サイドバーの幅を引いた残りの幅 */
    margin-left: 250px; /* サイドバーの幅 */
    transition: width 0.5s, margin-left 0.5s; /* スムーズな遷移 */
}

/* メディアクエリ - サイドバーが縮小されるブレークポイント */
@media (max-width: 768px) {
    #main_content {
        width: 100%; /* フル幅 */
        margin-left: 0; /* マージンなし */
    }
}
